@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
  background-color: #57776b;
  color: white;
}

.button-primary:hover {
  background-color: lightblue;
  color: black;
}

.mainContainer {
  position: relative;
  max-width: 600px;
  margin: auto;
  padding-bottom: 30px;
}

.textBox {
  border: 2px solid black;
}

.textArea {
  position: relative;
}

.textAreaIcon {
  position: absolute;
  top: 30px;
  right: 15px;
  cursor: pointer;
}
