@tailwind base;
@tailwind components;
@tailwind utilities;

.button-primary {
  background-color: #44c767;
  color: #ffffff;
  transition: #44c767 0.3s ease-in-out;
}

.button-primary:hover {
  background-color: #3fa55c;
  cursor: pointer;
}

.mainContainer {
  position: relative;
  max-width: 600px;
  margin: auto;
  padding-bottom: 30px;
}

.textBox {
  border: 2px solid black;
}

.textArea {
  position: relative;
}

.textAreaIcon {
  position: absolute;
  top: 30px;
  right: 15px;
  cursor: pointer;
}
